@media(max-width:991px) {
    .hero {
        padding: 20px 15px;
    }

    .material_list {
        padding: 0px;
        padding: 0px 10px 0 10px;
    }

    .rev_text img {
        width: 25%;

    }

    .routine h4 {
        width: 85%;
        text-align: center;
    }

    .btn-gen {
        font-size: 16px;
    }

    .package {
        width: 100%;
    }

    .pkg_imggrad img {
        width: 100%;
    }

    .pkg_img {
        padding: 20px;
    }

    .pkg_list {
        padding: 20px;
    }

    .deals {
        height: 580px;
        padding: 20px;
        justify-content: space-between;
    }

    .deal_price h3 {
        font-size: 40px !important;
    }

    .deals h4 {
        font-size: 14px;
    }

    .client_review {

        padding: 10px 30px;
    }

    .client_image img {
        width: 100%;
        margin: auto;
    }

    .tes {
        width: 30%;
        padding-right: 10px;
    }

    .tes_box {
        padding-left: 10px;
    }

}

@media(max-width:767px) {
    .cp-60 {
        padding: 30px 15px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    .btn-gen {
        font-size: 16px;
    }


    .hero {
        padding: 20px 15px;
    }

    .hero_content {
        text-align: center;
    }

    .post_carousel .owl-item img {
        width: 100%;
    }

    .owl-prev {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
    }

    .owl-next {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
    }

    .material_image {
        text-align: center;
    }

    .material_list {
        padding: 10px;
    }

    .rev_text h3 {
        font-weight: 700;
        font-size: 28px;
    }

    .rev_text img {
        width: 50%;
        margin: 0 20px;
    }

    .rev_text {
        flex-direction: column;
    }

    .rev2 h2 {
        font-size: 16px;
    }

    .routine h4 {
        width: 80%;
    }

    .routine_list li p {
        font-size: 16px;
    }

    .known_up {
        flex-direction: column;
    }

    .known_bottom {
        flex-direction: column;
    }

    .package {
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }

    .package2 {
        margin-top: 100px;
    }

    .pkg_img {
        padding: 10px;
    }

    .pkg_list {
        padding: 10px;
    }

    .deals {
        height: auto;
    }

    .deal_price h3 {
        font-size: 40px;
    }

    .del_3 {
        flex-direction: column;
    }


    .payment_opt {
        flex-direction: column;
    }

    .harv_product {
        padding: 30px 0px;
    }

    .client_review {
        padding: 20px;
    }

    .client_details {
        flex-direction: column;
        align-items: flex-start;
    }

    .client_image {
        margin: 10px 0px;
    }

    .client_image img {
        width: 100%;
    }

    .ef_img {
        text-align: center;
    }

    .effect_box {
        margin-bottom: 20px;
    }

    .harv_head {
        padding: 30px 10px;
    }

    .hv_tl1 li h2 {
        font-size: 20px;
    }

    .harv_title li p {
        font-size: 14px;
    }

    .rev_top {
        flex-direction: column;
    }

    .rev_filter {
        flex-direction: column;
    }

    .tes {
        padding: 0;
        border: none;
        width: auto;
    }

    .testimonial_box {
        flex-direction: column;
    }

    .tes_box {
        padding: 0;
        width: auto;
    }


    .tes_link {
        flex-direction: column;
    }

    .review_buton {
        margin-top: 10px;
    }

    .pr_rev {
        margin-top: 10px;
    }

    .footer p {
        width: auto;
    }

    .cc {
        width: auto;
    }

    .links li a {
        padding: 0px 10px;
    }
}